body{
    margin: 0;
    
}

/* header{
    padding:15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.header-content{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

